.navbar1{
  background-image: url(https://img.freepik.com/vetores-gratis/lindo-fundo-aquarela_62951-42.jpg?size=626&ext=jpg);
  border-style: solid;
  border-radius: 10px;

};

.carrossel{
  
};
.textoJustificado{
  text-align: justify;
}

.efeitos{
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  font-size:20px;
  
}

.negrito{
  font-weight: bolder;
}

#mensagemTiaVal{
 
  color:black;
  margin-left:22.5%;
  margin-top:-17%;
  border-color:#2bffd4;
  border-style:solid;
  width:140px;
  font-size:14px;
  text-align:justify;
  margin-bottom:11.5%;
  font-weight: bold;
  font-family: 'Righteous', cursive;
  
  
}

.rs{
  width:45px;
  height:45px;
}
#posicaoRS{
  margin-top:-18%;
  margin-left:65%;
}
#insta{
  margin-left:6%;
}
#zap{
  margin-left:6%;
}
#posicaors{
  margin-top:10%;
  margin-left:3%;
}

#Si{
  text-shadow: 2px 3px 2px white;
  color: black;
  font-size:22px;
}

.alinhamento{
  margin-top:9%;
}

#footer{
  background-color:#2bffd4;
  margin:5%;
  border:solid;
  border-width:2px;
  height:350px;
}

.bordaRedonda{
  border-radius:10px;
}

.imagemClasseVal{
  
  border-radius:50%;
  width:200px;
  height:200px;
}
.falaVal{
  margin-top:-50%;
  margin-left:72.5%;
  width:250px;
  height:250px;
}
.pacifico{
  
  margin-left:-6%;
  font-family: 'Pacifico', cursive;
}
.chatVal{
 color:#2bffd4;
 
  margin-top:-7%;
  width:215px;
  height:215px;
}
.msgVal{
   margin-top:-16.5%;
  margin-left:32%;
  font-size:14px;
  font-family: 'Righteous', cursive;
  width:165px;
  text-align:justify;
}
.valClass{
  margin-top:-5%;
  border-radius:50%;
  margin-left:77%;
  width:215px;
  height:215px;
 
}

#dialogo{
  color:#3684ad;
  margin-bottom:3%;
  width:200px;
  height:240px; 
}

.marginLeft5{

  width:100%;
  background-color: black;
}

.italico{
  font-style: italic;
  color: white;
}

.alinhamento{
  margin-top:9%;
}

.copyright{
  text-shadow: 0.5px 3px 4px black;
  color:white;

}

.colorl {
  color: white;
}

#sobassuntos{
  width: 150px;
  margin-top:-1%;
  color: white;
  box-shadow: 0 5px 0 #307397;
  margin-bottom:5%;
}

.visibilidade{

  visibility: hidden;
}

#assuntos{
  width: 100px;
  font-size:22px;
 font-family: 'Anton', sans-serif;
 margin-top:5%;
 box-shadow: 0 5px 0 #307397;
}

.cordiv{
  margin-bottom:-2%;
  width:10px;
  background-color:#2bffd4;
  border-radius:20px;
}

.topicos{
  
  font-size:20px;
  font-family: 'Righteous', cursive;
  margin-left:2%;
}
.justificado{
  text-align:justify;
}

.livroimg{
  margin-left:2%;
  width:60px;
  height:40px;
}

.btncolor{
  border-style:solid;
  margin-top:-12%;
  margin-left:78%;
  border-radius:2px;
  font-family: 'Righteous', cursive;
  text-align:center;
  height:30px;
  color: #923ff1;
  width: 60px;
  background-color:#2bffd4;
  text-decoration: none;
}

.card2{
  margin-top:-37.8%;
  margin-left:39%;
}