.navbar1{
  background-color:#15fce5;
  border-style: solid;
  border-radius: 10px;

};

.textoJustificado{
  text-align: justify;
}

.efeitos{
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  font-size:20px;
  
}
.espacamentoP{
  margin-left:5%;
  width:950px;
  margin-bottom: 5%;
}
.colorcard{
  background-color:#f0eaea!important;
}
.negrito{
  font-weight: bolder;
}
.tamanhofixo{
  height:445px;
}
.tamanholetra{
  font-size: 19px;;
  text-align:justify;
}
#mensagemTiaVal{
 
  color:black;
  margin-left:22.5%;
  margin-top:-17%;
  border-color:#2bffd4;
  border-style:solid;
  width:140px;
  font-size:14px;
  text-align:justify;
  margin-bottom:11.5%;
  font-weight: bold;
  font-family: 'Righteous', cursive;
  
  
}
.audio{
  border-color:black!important;
  cursor:pointer;
  background-color:white;
  border-radius:50%;
  margin-top:-160%;
  margin-left:42.5%;
  width:40px;
  height:40px;
  filter: brightness(100%);
}
.audio:hover{
  filter: opacity(78%);
  transition: all 0.6s linear;
}
.rs{
  width:45px;
  height:45px;
}
#posicaoRS{
  margin-top:-18%;
  margin-left:65%;
}
#insta{
  margin-left:6%;
}
#zap{
  margin-left:6%;
}
#posicaors{
  margin-top:10%;
  margin-left:3%;
}

#Si{
  text-shadow: 2px 3px 2px white;
  color: black;
  font-size:22px;
}

.alinhamento{
  margin-top:9%;
}

#footer{
  background-color:#2bffd4;
  margin:5%;
  border:solid;
  border-width:2px;
  height:350px;
}

.bordaRedonda{
  border-radius:10px;
}

.imagemClasseVal{
  
  border-radius:50%;
  width:200px;
  height:200px;
}
.falaVal{
  margin-top:-50%;
  margin-left:72.5%;
  width:250px;
  height:250px;
}
.pacifico{
  
  margin-left:-6%;
  font-family: 'Pacifico', cursive;
}
.chatVal{
 color:#2bffd4;
 
  margin-top:-7%;
  width:215px;
  height:215px;
}
.msgVal{
   margin-top:-16.5%;
  margin-left:32%;
  font-size:14px;
  font-family: 'Righteous', cursive;
  width:165px;
  text-align:justify;
}
.valClass{
  margin-top:-5%;
  border-radius:50%;
  margin-left:77%;
  width:215px;
  height:215px;
 
}

#dialogo{
  color:#3684ad;
  margin-bottom:3%;
  width:200px;
  height:240px; 
}

.marginLeft5{

  width:100%;
  background-color: black;
}

.italico{
  font-style: italic;
  color: white;
}

.alinhamento{
  margin-top:9%;
}

.copyright{
  text-shadow: 0.5px 3px 4px black;
  color:white;

}

.colorl {
  color: white;
}


#sobassuntos{
  width: 150px;
  margin-top:-1%;
  color: white;
  box-shadow: 0 5px 0 #307397;
  margin-bottom:5%;
}
#sobassuntosc{
  width: 220px;
  margin-top:-1%;
  color: white;
  box-shadow: 0 5px 0 #307397;
  margin-bottom:5%;
}

.visibilidade{

  visibility: hidden;
}

#assuntos{
  width: 100px;
  font-size:22px;
 font-family: 'Anton', sans-serif;
 margin-top:5%;
 box-shadow: 0 5px 0 #307397;
}
#assuntosc{
  width: 200px;
  font-size:22px;
 font-family: 'Anton', sans-serif;
 margin-top:1%;
 box-shadow: 0 5px 0 #307397;
}

.cordiv{
  margin-bottom:-2%;
  width:10px;
  background-color:#2bffd4;
  border-radius:20px;
}
.lcordiv{
  margin-top:4%;
  margin-bottom:-2%;
  width:10px;
  background-color:#2bffd4;
  border-radius:20px;
}

.topicos{
  
  font-size:20px;
  font-family: 'Righteous', cursive;
  margin-left:2%;
}
.ltopicos{
  
  font-size:20px;
  font-family: 'Righteous', cursive;
  margin-top:-1.5%;
  margin-left:2%;
}
.justificado{
  text-align:justify;
}

.livroimg{
  margin-left:2%;
  width:60px;
  height:40px;
}
.valimg{
  border-radius:50%;
  width:60px;
  height:60px;
}

.btncolor{
  border-style:solid;
  margin-top:-12%;
  margin-left:78%;
  border-radius:2px;
  font-family: 'Righteous', cursive;
  text-align:center;
  height:30px;
  color: #923ff1;
  width: 60px;
  background-color:#2bffd4;
  text-decoration: none;
}
.center{
  text-align:center;
}
.btncolor:hover{

  color: #2bffd4;
  width: 60px;
  background-color:#923ff1;
  
}

.card2{
  margin-top:-37.8%;
  margin-left:35%;
  background-color: silver;
}

.card3{
  margin-top:-37.8%;
  background-color: silver;
  margin-left:70%;
}

.imgnova{
  width:286px;
  height:214px;

}
.imgnova1{
  width:286px!important;
  height:214px!important;

}
.imgnova:hover{
  width:286px;
  height:214px;
  filter: brightness(83%);
}
#cardamarelo{
  width:286px;
  height:214px;
  background-color:#fff203;
}
#cardazul{
  width:286px;
  height:214px;
  background-color:rgb(88, 88, 219);
}
#cardcinza{
  width:286px;
  height:214px;
  background-color:rgb(185, 184, 184);
}
#cardroxo{
  width:286px;
  height:214px;
  background-color:rgb(134, 49, 134);
}
#cardverde{
  width:286px;
  height:214px;
  background-color:rgb(67, 211, 67);
}
#cardrosa{
  width:286px;
  height:214px;
  background-color:rgb(255, 108, 132);
}
#cardvermelho{
  width:286px;
  height:214px;
  background-color:rgb(245, 83, 83);
}
#cardlaranja{
  width:286px;
  height:214px;
  background-color:#fa8900;
}
#cardpreto{
  width:286px;
  height:214px;
  background-color:rgba(0, 0, 0, 0.89);
}
.titulo{
  font-family: 'Bitter';
}

.botaomenu{
  text-align:center;
 
  text-transform: uppercase;
  font-family:"Righteous" ;
  cursor: pointer;
  text-shadow: 1px 1px 0 black;
  color:black;
  box-shadow: 0 5px 0 #307397;
  text-decoration: none;
  border-radius:10%;
}
.botaomenu:active{
  position:relative;
  top:5px;
  box-shadow:none;
  text-decoration: none;
}
#botaoSubir{

  margin-left:93%;
  width:50px;
  height:50px;
 border-radius:50%;
 background-color: #2bffd4;
 }

 .imgSubir{
  
  margin:6%;
   width:40px;
   height:40px;
  }
 .atenção{
   width:3%;
   height:3%;
 }
 .imagem{
   height:17.5em!important;
 }
 .carrosselc{
   margin-left:30%;
   width:450px!important;
   height:450px!important;
 }
 .cardl{
   margin-left:16%;
 }
 .cardr{
  margin-left:19%;
 }
 .lcard1{
  cursor: pointer!important;
}
.lcard2{
  cursor: pointer!important;
}
.lcard3{
  cursor: pointer!important;
}
.lcard4{
  cursor: pointer!important;
}
.lcard5{
  cursor: pointer!important;
}
.lcard6{
  cursor: pointer!important;
}
.lcard7{
  cursor: pointer!important;
}
.lcard8{
  cursor: pointer!important;
}
.lcard9{
  cursor: pointer!important;
}
 
.w-102{
  width:1150px!important;
  height:800px!important;
}
.w-101{
  width: 100%!important;
    height: 450px;
}



#cardamarelo:hover{
  width:286px;
  height:214px;
  
  background-color:yellow;
}
#cardroxo:hover{
  width:286px;
  height:214px;
  background-color:rgb(129, 1, 129);
}
#cardverde:hover{
  width:286px;
  height:214px;
  background-color:rgb(7, 216, 7);
}
#cardrosa:hover{
  width:286px;
  height:214px;
  background-color:rgb(248, 42, 76);
}
#cardazul:hover{
  width:286px;
  height:214px;
  background-color:rgb(33, 33, 248);
}
#cardvermelho:hover{
  width:286px;
  height:214px;
  background-color:rgb(255, 19, 19);
}
#cardlaranja:hover{
  width:286px;
  height:214px;
  background-color: #fa5700;
}
#cardpreto:hover{
  width:286px;
  height:214px;
  background-color:black;
}
#cardcinza:hover{
  width:286px;
  height:214px;
  background-color:gray;
}
